/* Features Section */

#features-section {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0%;
    background-color: #f3f3f3;
    margin: 1em auto;
    width: 100%;
    row-gap: 16px;
  }
  
  .feature {
    flex: 1;
    padding: 1rem;
    margin: 1rem 1.25rem;
    background-color: white;
    width: 90%;
  }
  
  .feature .image-container {
    width: 90%;
    height: 65%;
    margin: 0 auto;
  }
  
  .feature h2 {
    padding-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
  }
  
  .feature h3 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #4a4a4a;
    padding-bottom: 1.8rem;
  }
  
  @media only screen and (max-width: 890px) {
    .feature h2 {
      font-size: 1.125rem;
      line-height: 1.3;
      font-weight: normal;
      text-align: left;
    }
  
    .feature h3 {
      font-size: .875rem;
      line-height: 1.4;
      text-align: left;
    }

    #features-section .space img {
      margin-bottom: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #features-section {
      flex-flow: column;
      padding: 0;
      justify-content: center;
    }
  
    .feature {
      margin: 0 auto;
      padding: 1.25rem 1rem 0 1rem;
    }

    .feature h2 {
      text-align: center;
    }
  
    .feature h3 {
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.3;
    }

  }
  